<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="30%" class="mat-elevation-z20">
    <mat-card-header>
      <mat-card-title>Planet: {{ planeta.name }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Climate: {{ planeta.climate }}</p>
      <p>Population: {{ planeta.population }}</p>
      <p>Terrain: {{planeta.terrain }}</p>
      <p *ngFor="let f of filme">Film: {{ f }}</p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="getPlaneta()">
        Find Planet <mat-icon>cached</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>	
    </mat-card-footer>
  </mat-card>
</div>